<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="form-group">
        <%= f.select :card_ids, @selected_set.cards.collect { |p| [ p.name, p.id, { 'data-image' => p.image_url } ] }, {}, { class: 'chosen-select', multiple: true, include_blank: false }%>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <div class="col-sm-6">
        <div class="card-1">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-2">
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <br/>
        <div class="actions">
          <%= f.submit 'Fight!', class: 'btn btn-warning'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
